.selectores {
    text-align: center;
    background-color: aquamarine;
}
.button-dinamic {
    height:38px;
    background:#f89144;
    border:15;
    padding-left: 30px;
    padding-right:30px;
    color:#ffffff;
    
}